.container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    width: 50%;
    height: 100%;
    margin-top: 0;
    border:1px solid red;
    border-radius: 30px;
    margin-left: 200px;
    
}

.msg{
    
  width:300px;
  border-radius: 30px;
  height: 400px;
  text-align: center;
  color:white;
  margin-top: 50px;
  margin-left: 50px;
  align-items: center;

}  


#btn-end{
    width: 100px !important;
    
    border-radius: 15px !important;
}
.screen{
    width:800px;
    height: 800px;
    text-align: center;
    
    
    color:white;
    
}
.history{
    font-size: 10px;
    
}

#btn-endd{
    width: 100px !important;
    margin-right: 5px !important;
    border-radius: 15px !important;
}